@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: theme("colors.primary.200");
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: theme("colors.primary.400");
  border-radius: 100px;
}

@layer {
}
